.textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--field);
  resize: vertical;
}

.textarea:focus {
  background-color: var(--field-focus);
  border-color: var(--primary);
}
