.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  background-color: var(--field);
  color: #1a202c;
  border: none;
  border-radius: 10px;
  padding: 15px 10px;
  transition:
    background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.input:focus {
  background-color: var(--field-focus);
  outline: none;
  box-shadow: 0 0 0 2px var(--primary);
}
