.label {
  box-sizing: border-box;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: var(--field);
}

.label:hover,
.label:focus {
  border-color: var(--primary);
  background-color: var(--field-focus);
}

.uploadedImage {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: auto;
}
